body{
    background-color: rgb(25, 38, 59);
}

h3{
    color: white;
}
  

  .item{
      height: 77px;
      width: 132px;
      background-color: rgb(43, 78 , 135);
      color: white;
      border: 1px solid rgb(43, 78 , 135);;
      border-radius: 10px;
      text-align: center;
      margin: 10px;
      position: relative;
  }

  .item-border{
      background-color: rgb(32, 61, 116);
      height: 10;
      width: 59;
  }
  
  small{
      margin: 5px;
      font-size: 10px;
      vertical-align: top;
      text-align: right;
      right: 0;
      top: 0;
      position: absolute;
  }